<form enctype="multipart/form-data" action='/create' method='POST' name='form'>
  <div class='row'>
    <div class='input-field col s6'>
      <input
        id='status'
        type='text'
        class='validate'
        name='status'
      >
      <label for='status'>Status</label>
    </div>
    <div class='input-field col s6'>
      <textarea 
        id='description'
        name='description'
        class='materialize-textarea validate'
      ></textarea>
      <label for='description'>Description</label>
    </div>
  </div>
  <div class='row'>
    <div class='file-field input-field col s6'>
      <div class='btn'>
        <span>File</span>
        <input
          id='file'
          type='file'
          accept='image/*'
          name='fileBuffer'
        >
      </div>
      <div class='file-path-wrapper'>
        <input 
          id='fileContent'
          class='file-path validate'
          name='fileContent'
          type='text'
          placeholder='Upload file'
        >
      </div>
    </div>
    <div class='input-field col s6'>
      <input id='deadline' name='deadline' type="text" class="datepicker validate" 
      >
      <label for='deadline'>Deadline</label>
    </div>
  </div>
  <div class='row center'>
    <button class='waves-effect waves-light btn-large' type='submit'>Create Task</button>
  </div>
</form>
