<form method="POST" action="/login">
  <div class='row center'>
    <div id='username-container' class='input-field col s6'>
      <input type='text' autocomplete="off" class='validate' name='username' required>
      <label for='name'>Name</label>
    </div>
  </div>
  <div class='row center'>
    <button id='send-login' class='waves-effect waves-light btn-large' type="submit">Login</button>
  </div>
</form>