<div class='row center'>
  <div id='auth-container' class='input-field col s6'>
    <input type='text' autocomplete="off" id='login' class='validate' required>
    <label for='login'>Name</label>
  </div>
</div>
<div class='row center'>
  <div id='auth-container' class='input-field col s6'>
    <input type='password' autocomplete="off" id='password' class='validate' required>
    <label for='password'>Password</label>
  </div>
</div>
<div class='row center'>
  <button class='waves-effect waves-light btn-large' id='login-form'>Sign in</button>
</div>